<style>
    .nav-style {
        position:fixed;
        left:0px;
        bottom:0px;
        background-color: darkslategray;
    }
    .nav-label {
        text-align: center;
    }
</style>
<nav class="navbar navbar-bottom nav-style" role="navigation">
    <div class="container">
        <h1 class="nav-label">by Joe Muto</h1>
    </div>
</nav>